 
body{
	
	background: url("../img/pic3.jpg") ;
	background-size:cover;
	/* position:fixed; */
	width:80%;
	 height: auto;
	font-family:'chilanka' , cursive;
	padding:0;
	margin:0;
   
	}
*
 
.course{
  border: 2px solid black;
  width: auto;
  height: auto;
  text-align: center;
  color: #dddddd;
}
.course h1{
  text-align: center;
  color: white;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  align-items: center;
   
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/*form*/

*
{
	box-sizing : border-box;
}

h1{
	text-align:center;
  color: white;
  margin-left: 25%;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=date] ,[type=file] ,[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

 

 input[type=submit]{
 
  background-color: #09044d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:40%;
  width: 100px;
} 

 input[type=submit]:hover {
  background-color: #45a049;
}

input[type=reset]{
 
  background-color:#3E3232;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
   width: 100px;
   
} 

 input[type=reset]:hover {
  background-color: #7E6363;
} 

 



.container {
	width:50%;
	position:relative;
	margin-left:30%;
  border-radius: 25px;
 border: 2px solid rgb(234, 240, 242);
  padding: 30px;
  box-shadow:0 8px 32px 0 rgba(31,38,135,.37);
	background:rgba(255,255,255,0.100);
  margin-left: 38%;
}
 