 
body{
	
	background: url("../img/pic3.jpg") ;
	background-size:cover;
	/* position:fixed; */
	width:80%;
	 height: auto;
	font-family:'chilanka' , cursive;
	padding:0;
	margin:0;
   
	}
*
.course{
  border: 2px solid black;
  width: auto;
  height: auto;
  text-align: center;
}
.course h1{
  text-align: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  align-items: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/*form*/
{
	box-sizing : border-box;
}

h1{
	text-align:center;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=date] ,[type=file] ,[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

 

.sub_btn{
 
  background-color: #067223;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:40%;
}

.sub_btn:hover {
  background-color: #0bb5cb;
}

 



.container {
	width:50%;
	position:relative;
	margin-left:30%;
  border-radius: 5px;
 
  padding: 20px;
}